<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header class="logoHead">
      <h1 class="logo">Mind;Space</h1>
    </header>
    <div class="backdrop">
      <h1>People care about <strong>you</strong>.</h1>
      <h3 class="text-center">Please,<br> if you are in danger,<br> let them know by clicking</h3>
      <button class="btn btn-warning col-xs-8 col-xs-offset-2" ng-click="emergency.sendMessage()">HELP!</button><br>
      <h3 class="text-center topPadding bottomPadding">Your story<br> does <strong>not</strong> end<br> <em>here</em><strong>;</strong></h3>
    </div>
    <button class="btn btn-info col-xs-8 col-xs-offset-2"><a href="/home"><span class="glyphicon glyphicon-home"></span></a></button>
  </body>
</html>
