<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Today's Questionnaire</title>
  </head>
  <body>
    <main>
      <form>
        <h3>On a scale of 1-10, how do you feel today?</h3>
        <select ng-model="form.todaysMood">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
          <option value=6>6</option>
          <option value=7>7</option>
          <option value=8>8</option>
          <option value=9>9</option>
          <option value=10>10</option>
        </select>
        <h4>Is there anything else you'd like to note about today?</h4>
        <input type="text-area" ng-model="form.todaysEntry"></input>
        <input class="btn btn-success" type="submit" ng-click="form.submitForm()"></input>
      </form>
      <button class="btn btn-info"><a href="/home">cancel</a></button>
    </main>
  </body>
</html>
