<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <main>
      <header><button class="btn btn-info"><a href="/home"><span class="glyphicon glyphicon-home"></span></a></button></header>
      <h1>Your Mind;Space</h1>
      <canvas id="line" class="chart chart-line" chart-data="graph.data"
        chart-labels="graph.labels" chart-series="graph.series" chart-options="graph.options"
        chart-dataset-override="graph.datasetOverride" chart-click="graph.onClick">
      </canvas>
    </main>
  </body>
</html>
