<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <main>
      <h1>Mind;Space</h1>
      <canvas id="line" class="chart chart-line" chart-data="ctrl.data"
        chart-labels="ctrl.labels" chart-series="ctrl.series" chart-options="ctrl.options"
        chart-dataset-override="ctrl.datasetOverride" chart-click="ctrl.onClick">
      </canvas>
      <button class="btn btn-primary" ng-click="ctrl.goToForm()">Today's Questionnaire</button>
      <button class="btn btn-default"><a href="/search"><span class="glyphicon glyphicon-search"></span></a></button>
      <button class="btn btn-danger" ng-click="ctrl.goToEmergency()">Emergency!</button>
      <button class="btn btn-default"><a href="/register"><span class="glyphicon glyphicon-cog"></span></a></button>
      <button class="btn btn-default"><a href="/graph"><span class="glyphicon glyphicon-stats"></span></a></button>
    </main>
  </body>
</html>
