body {
  /*background-image:url("../images/mindSpaceBackground.jpg");*/
  background-color: rgb(0, 196, 231);
}
.homeButton {
  margin-bottom: 10px;
  margin-top: 10px;
}
.logoHead {
  background-image: url('../images/cloud.png');
  background-size: cover;
}
.logo {
  padding-bottom: 30px;
}
